<div class="panel panel-default olx-panel">
	<div class="panel-heading">
		<h3 class="panel-title">热门文章</h3>
	</div>
	<div class="panel-body">
		<ul class="list-group olx-list-group">
		    #foreach($top10ViewNum in $top10ViewNums)<li class="list-group-item">					
		        <span class="badge">$top10ViewNum.ViewNums</span>
			    <a href="${virtualPath}archive/${top10ViewNum.Id}.html" title="$top10ViewNum.ArticleTitle">
			        <div class="olx-text-ellipsis">$top10ViewNum.ArticleTitle</div>
                </a>						        	
			</li>
			#end
		</ul>
	</div>
</div>