
<div id="banner" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://www.foreworld.net"><%= title %></a>
		</div>

		<div id="navbar-collapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class='active'>
					<a href="<%=virtualPath%>index.html">首页</a>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="<%=virtualPath%>archive/category/杂文">杂文</a></li>
						<li><a href="<%=virtualPath%>archive/category/设计模式">设计模式</a></li>
						<li><a href="<%=virtualPath%>archive/category/插件">插件</a></li>
						<li><a href="<%=virtualPath%>archive/category/ASP.NET">ASP.NET</a></li>
						<li><a href="<%=virtualPath%>archive/category/Java">Java</a></li>
					</ul>
				</li>
				<li>
					<a href="<%=virtualPath%>archive/tag/">标签</a>
				</li>
				<li>
					<a href="javascript:;">留言</a>
				</li>
				<li>
					<a href="javascript:;">画廊</a>
				</li>
				<li>
					<a href="<%=virtualPath%>archive/">档案馆</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="javascript:;">关于</a>
				</li>
				<li class="active">
					<a href="user/login">登陆</a>
				</li>
			</ul>

			<%- include ../pagelet/TopSearchForm.html -%>
		</div>
	</div>
</div>